# Sanal Ortam (En önemlisi, 3000+ dosyayı bu engeller)
venv/
env/
ENV/

# Python Önbellek Dosyaları
__pycache__/
*.pyc
*.pyo
*.pyd

# Gizli Bilgiler ve Şifreler
.env

# Editör ve Sistem Dosyaları
.vscode/
.DS_Store
*.xlsx
*.sql
node_modules/
dist/